
//@theme "/nix/store/7hcqxivf38vv1rflynm9fsk4wazs166f-rofi-2.0.0/share/rofi/themes/android_notification.rasi"

//@theme "/nix/store/qw7zhd0d8i0yzfx3fj5q44964dqcyg4r-rofi-2.0.0/share/rofi/themes/Arc-Dark.rasi"

@theme "/nix/store/hqnbljb14q0yaxhhvi38pd39bgblv7m8-rofi-2.0.0/share/rofi/themes/android_notification.rasi"
